.marker-label {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 0.7rem;
    pointer-events: none;

    &.--major {
        color: var(--text-color)
    }

    &.--minor {
        color: var(--text-color-secondary)
    }

}