.position-marker {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--primary-color);
    z-index: 5;

    &::before {
        $arrowSize: 6px;

        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        transform: translateX(calc(-50% + 1px));
        border-left: $arrowSize solid transparent;
        border-right: $arrowSize solid transparent;
        border-top: $arrowSize solid var(--primary-color);
    }

}