.timeline {
    overflow: auto;

    width: 100%;
    height: 100%;

    background-color: var(--surface-ground);

    $rowHeight: 100px;
    $headerWidth: 200px;

    &:focus {
        outline: none;
    }

    .--disable-child-pointer-events * {
        pointer-events: none;
    }

    .__content {
        position: relative;
        background-image: linear-gradient(90deg, var(--surface-border) 1px, transparent 1px),
            linear-gradient(90deg, var(--surface-overlay) 1px, transparent 1px);
        background-position: ($headerWidth - 1px) -1px;
        background-repeat: repeat;
        min-width: 100%;

        &:focus {
            outline: none;
        }
    }

    .__header-row {
        height: 40px;
        background-color: var(--surface-card);
        position: sticky;
        top: 0;
        z-index: 4;

        & > .__spacer {
            width: $headerWidth;
            height: 100%;
            position: sticky;
            background-color: var(--surface-card);
            left: 0;
            z-index: 5;
        }

        & > .__container {
            position: absolute;
            top: 0;
            left: $headerWidth;
            height: 100%;
            width: calc(100% - #{$headerWidth});
            z-index: 4;
        }
    }

    .__track {
        height: $rowHeight;
        border-bottom: 1px solid var(--surface-border);
        display: flex;
        z-index: 3;

        .__header {
            position: sticky;
            left: 0;
            min-width: $headerWidth;
            max-width: $headerWidth;
            height: 100%;
            background-color: var(--surface-card);
            color: var(--text-color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            z-index: 6;

            .__title {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .__actions {
                margin-top: 0.5rem;
                opacity: 0.1;
                transition: opacity 0.2s linear;
            }

            &:hover .__actions {
                opacity: 1;
            }
        }

        .__item-container {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
}
