@import "./animations.scss";
@import "./graph.scss";

html {
    overflow: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: black;
    color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.full-height {
    height: 100%;
}