@import "./animations.scss";
@import "./graph.scss";

html {
    overflow: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: black;
    color: white;
}

.full-height {
    height: 100%;
}