@import "@baklavajs/plugin-renderer-vue/dist/styles/variables.scss";

// Controls
$color-primary: #1eb980;
$color-error: red;
$color-control-dark-background: #33333d;
$color-control-dark-foreground: white;
$color-control-dark-hover: #4c4c4c;
$color-control-dark-active: #6c6c6c;
$border-radius-control: 0px;

// Sidebar
$color-sidebar-background: #3f3f3f;
$color-sidebar-foreground: white;

// Nodes
$color-node-background: #555561cc;
$color-node-foreground: white;
$color-node-selected: $color-primary;
$color-node-title-background: black;
$color-node-title-foreground: white;
$border-radius-node: 0px;

// Background pattern
$color-pattern-default: #33333d;
$color-pattern-line: #504f5c66;
$color-pattern-black: #5d5d6466;

@import "@baklavajs/plugin-renderer-vue/dist/styles/styles.scss";

.node-editor > .background {
    background-repeat: repeat;
}

.option-canvas {
    width: 100%;
    height: 20px;
}
