.node-editor > .background {
    background-repeat: repeat;
}

.option-canvas {
    width: 100%;
    height: 20px;
}

.baklava-node-interface[data-interface-type="boolean"] .__port {
    background-color: darkcyan;
}

.baklava-node-interface[data-interface-type="color_single"] .__port {
    background-color: gold;
}

.baklava-node-interface[data-interface-type="color_array"] .__port {
    background-color: coral;
}

.baklava-node-interface[data-interface-type="number"] .__port {
    background-color: gray;
}

.baklava-node-interface[data-interface-type="positions"] .__port {
    background-color: lightblue;
}
