@tailwind base;
@tailwind utilities;

.splitpanes--vertical > .splitpanes__splitter {
    min-width: 0.5rem;
}

.splitpanes--horizontal > .splitpanes__splitter {
    min-height: 0.5rem;
}

.n-card.n-modal {
    width: fit-content;
    min-width: 400px;
    max-width: calc(100vw - 6rem);
}

html {
    font-size: 15px;
}